{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="row">
                {% for product in products %}
                <div class="col-3">
                    <div class="card my-2">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard</p>
                            <a href="{% url 'product_detail' slug=product.slug %}" class="btn btn-primary">View Detail</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2">
            <h5>Categories</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'product_list' %}">All</a></li>
                {% for category in categories %}
                <li class="list-group-item"><a href="{% url 'product_list' %}?category={{ category.title }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock body %}